@CHARSET "ISO-8859-1";

#content-column h1 {
    border-bottom:1px solid #CCCCCC;
    color:#084980;
    font-size:1.3em;
    font-weight:bold;
    margin:10px 0 10px;
    padding:0 0 5px;
}

div.subheading {
    color:#084980;
    font-size:11px;
    font-weight:bold;
    margin:10px 0 5px;
    padding:3px;
}
.subheading .pipe {
    color:#CDCDCD;
    font-weight:normal;
}
.subheading .description {
    color:#333333;
    font-size:11px;
    font-weight:normal;
}
.box {
    background-color:#EAEAEA;
    border:1px solid #CCCCCC;
    padding:10px;
}
html {
    background:transparent none repeat scroll 0;
}

a.broken:link {color: #888888; text-decoration:none}

a.broken:visited {color: #888888; text-decoration:none}

a.broken:hover {color: #888888; text-decoration:underline}

.pre {
    font-size: 2em;
}

.notes { color: teal; }

.done { text-decoration: line-through; } 

div.warning {
    margin-top: 8pt;
    margin-bottom: 8pt;
    background-color: #FFEEEE;
    border-style:dashed;
    border-width:2px;
    border-color:#999999;
    color:#333399;
    padding:10px;
}